* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
 
  background-color: #b9ebe2;
}
.LoginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
header img {
  width: 300px;
  margin: 40px 0 40px;
  
}


#formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#email {
  width: 250px;
  height: 30px;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  margin-bottom: 20px;
  font-size: 18px;
}
#password {
  width: 250px;
  height: 30px;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;
  font-size: 18px;
}
#link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  margin-bottom: 40px;
}

#btnLogin {
  width: 120px;
  height: 30px;
  background: #e18282;
  mix-blend-mode: normal;
  border-radius: 10px;
  border: 0;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 18px;
}
#btnRegister {
  width: 120px;
  height: 30px;
  background: #e18282;
  mix-blend-mode: normal;
  border-radius: 10px;
  border: 0;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 18px;
}

#line {
  width: 250px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
#account {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #343333;
  margin-bottom: 20px;
}

/* Registro */
.registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user{
  width: 250px;
  height: 30px;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  margin-bottom: 20px;
  font-size: 18px;

}
#hregister{
  
    width: 300px;
    height: 70px;
    margin: 40px 0 70px 0px;
    font-size:30px ;
    
  }
